<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :date, value: Time.now %>
  <%= f.hidden_field :machine, value: "machine 1" %>

  <div class="field">
    <%= f.label :game %>
    <%= f.text_field :game %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.text_field :race %>
  </div>

  <div class="field">
    <%= f.label :income %>
    <%= f.text_field :income %>
  </div>

  <div class="field">
    <%= f.label :group_type %>
    <%= f.text_field :group_type %>
  </div>

  <div class="field">
    <%= f.label :group_size %>
    <%= f.number_field :group_size %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
