<%= form_for customer, validate: {inclusion: true}, :html => { :id => machine + "_form" }, remote: true do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :date, value: Time.now %>
  <%= f.hidden_field :machine, value: machine %>

  <div class="field">
    <%= f.label :game %>
    <%= f.select :game, Customer.game_names.keys,
                        prompt: 'Select a Game' %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.select :age, Customer.age_ranges.keys,
                        prompt: 'Select Age Range' %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, Customer.gender_fields.keys,
                        prompt: 'Select Gender'%>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.select :race, Customer.race_fields.keys,
                        prompt: 'Select Race'%>
  </div>

  <div class="field">
    <%= f.label :income %>
    <%= f.select :income, Customer.income_fields.keys,
                          prompt: 'Select Income Range'%>
  </div>

  <div class="field">
    <%= f.label :group_type %>
    <%= f.select :group_type, Customer.group_types.keys,
                            prompt: 'Select Group Type'%>
  </div>

  <div class="field">
    <%= f.label :group_size %>
    <%= f.number_field :group_size %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
