<p id="notice"><%= notice %></p>

<h1>Customers</h1>
<div class="search-menu">
  <%= form_tag customers_path, method: :get do %>
    <div>
      <script>
        $( function() {
          $( "#start_date" ).datepicker();
          $( "#end_date" ).datepicker('setDate', "05/06/2017");
        } );
      </script>
      <%= date_field_tag 'start_date', '2017-01-01' %>
      <%= date_field_tag 'end_date', nil %>
      <%= select_tag :game, options_from_collection_for_select(Customer::game_names, :first, :last),
          prompt: 'Select a Game' %>
      <%= select_tag :gender, options_from_collection_for_select(Customer::gender_fields, :first, :last),
          prompt: 'Select Gender' %>
      <%= select_tag :age, options_from_collection_for_select(Customer::age_ranges, :first, :last),
          prompt: 'Select Age Range' %>
      <%= select_tag :income, options_from_collection_for_select(Customer::income_fields, :first, :last),
          prompt: 'Select Income Range' %>
      <%= select_tag :race, options_from_collection_for_select(Customer::race_fields, :first, :last),
          prompt: 'Select Race' %>
      <%= select_tag :group_type, options_from_collection_for_select(Customer::group_types, :first, :last),
          prompt: 'Select Group Type' %>
      <%= hidden_field :search, name: "search", value: true%>
      <span class='submit-button'>
        <%= fa_icon 'search' %>
        <!-- :name => nil will make url cleaner -->
        <%= submit_tag "Search", :name => nil, class: 'blue-btn' %>
      </span>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Machine</th>
      <th>Game</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Race</th>
      <th>Income</th>
      <th>Group type</th>
      <th>Group size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.date %></td>
        <td><%= customer.machine %></td>
        <td><%= customer.game %></td>
        <td><%= customer.age %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.race %></td>
        <td><%= customer.income %></td>
        <td><%= customer.group_type %></td>
        <td><%= customer.group_size %></td>
        <td class="hide-link"><%= link_to fa_icon('pencil'), edit_customer_path(customer), class: "edit-delete-icon" %></td>
        <td class="hide-link"><%= link_to fa_icon('trash'), customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "edit-delete-icon" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
