<p id="notice"><%= notice %></p>

<div id="table-wrapper">
  <h1>Customers</h1>
  <%= render 'table', collection: @customers %>
</div>

<div class="panel-group" id="customers-menu">
  <div class="panel panel-default" id="search-menu">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#customers-menu" href="#collapse1">Filters</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <%= form_tag customers_path, method: :get, remote: true do %>
        <div class="panel-body">
          <%= date_field_tag 'start_date', '2017-01-01' %>
          <%= date_field_tag 'end_date', nil, {type: "div"} %>
          <%= select_tag :game, options_from_collection_for_select(Customer::game_names, :first, :last),
              prompt: 'Select a Game' %>
          <%= select_tag :gender, options_from_collection_for_select(Customer::gender_fields, :first, :last),
              prompt: 'Select Gender' %>
          <%= select_tag :age, options_from_collection_for_select(Customer::age_ranges, :first, :last),
              prompt: 'Select Age Range' %>
          <%= select_tag :income, options_from_collection_for_select(Customer::income_fields, :first, :last),
              prompt: 'Select Income Range' %>
          <%= select_tag :race, options_from_collection_for_select(Customer::race_fields, :first, :last),
              prompt: 'Select Race' %>
          <%= select_tag :group_type, options_from_collection_for_select(Customer::group_types, :first, :last),
              prompt: 'Select Group Type' %>
          <%= hidden_field :search, name: "search", value: true%>
          <span class='submit-button'>
            <%= fa_icon 'search' %>
            <!-- :name => nil will make url cleaner -->
            <%= submit_tag "Search", :name => nil, class: 'blue-btn' %>
          </span>
        </div>
      <% end %>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#customer-menu" href="#collapse2">Export</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render 'export-menu', collection: :params %>
      </div>
    </div>
  </div>

  
</div>



<br>
