<%= javascript_include_tag 'games' %>

<div class="row">
  <p id="notice"><%= notice %></p>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="table-responsiv">
      <h1>Games</h1>
      <%= render 'table', collection: @games %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Update</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <script>
            </script>
            <button onclick='edit_click()' id="edit" type="button" class="btn btn-default">Edit</button>
            <button onclick='update_click()' id="update" type="button" class="btn btn-default" style='display:none'>Update</button>
            <button onclick='cancel_click()' id="cancel" type="button" class="btn btn-default" style='display:none'>Cancel</button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Add A Game</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render 'form', game: @game %>
          </div>
    </div>
  </div>
</div>


<%= link_to 'New Game', new_game_path %>
