<p id="notice"><%= notice %></p>

<p>
  <strong>Machine:</strong>
  <%= @bucket.machine %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @bucket.customer %>
</p>

<%= link_to 'Edit', edit_bucket_path(@bucket) %> |
<%= link_to 'Back', buckets_path %>
